@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap");

.folhas {
  z-index: 3;
  position: absolute;
  font-family: "Coming Soon", cursive;
  font-weight: 600;
}

.Folha1 {
  position: relative;
  top: 20px;
  left: 15px;
  transform: rotateZ(3deg);
}

.PostIt1 {
  position: absolute;
  top: 100%;
  left: 2%;
  cursor: pointer;
  transition: 0.3s;
}
.PostIt1:hover {
  transform: translateY(-15px);
}
.PostIt2 {
  position: absolute;
  top: 95%;
  right: 3%;
  cursor: pointer;
  transition: 0.3s;
}
.PostIt2:hover {
  transform: translateY(-15px);
}

.textoFolha1 {
  position: absolute;
  color: black;
  right: 11%;
  top: 22.5%;
  width: 100%;
  max-width: 200px;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  font-size: 20px;
  transform: rotateZ(3deg);
}
.textoPostIt1 {
  position: absolute;
  top: 30%;
  left: 22%;
  width: 100%;
  max-width: 60px;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  transform: rotateZ(3deg);
  font-size: 16px;
  transform: rotateZ(-6deg);
  color: #5f32da;
}
.textoPostIt2 {
  position: absolute;
  top: 30%;
  left: 22%;
  width: 100%;
  max-width: 60px;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  transform: rotateZ(3deg);
  font-size: 16px;
  transform: rotateZ(4deg);
  color: #5f32da;
}
