.background {
  background-image: url("/images/negociation/sprites/Rectangle 42847.png");
  background-size: cover; /* Faz a imagem preencher toda a tela */
  background-position: center; /* Centraliza */
  background-repeat: no-repeat; /* Não repete */
  width: 100vw;
  height: 100vh;
}

.backgroundEffect {
  background-image: url("/images/negociation/sprites/Efeito fundo.png");
  opacity: 0.8;
  background-position: center; /* Centraliza */
  background-repeat: no-repeat; /* Não repete */
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.CEUicon {
  position: absolute;
  top: 160px;
  left: 42%;
  width: 200;
  height: 200;
  opacity: 0;
  transition: 1.5s;
}
