.background {
  background-image: url("/images/negociation/Sprites/Game Background.png");
  background-position: center -15px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

@media (min-width: 1366px) {
  .background {
    background-position: center -0px;
  }
  .gameTable {
    top: 20vh;
  }
}
