.timer3 {
  display: flex;
  gap: 10px;
}
.timer3 span {
  font-size: 20px;
  color: #00ff00;
  font-weight: bolder;
}

.text {
  text-align: center;
  font-size: 10px;
  color: #00ff00;
}

.progressBar {
  display: flex;
  width: 190px;
  height: 25px;
  padding: 3px;
  gap: 4px;
  background-color: black;
  border: 2px solid #00ff00;
  border-radius: 5px;
}

.segment {
  width: 15px;
  height: 15px;
  border: 2px solid #00ff00;
  background-color: #00ff00;
  border-radius: 3px;
}
.inactive {
  background-color: transparent;
  border: 2px solid green;
}
