.telefone {
  position: absolute;
  right: 8%;
  top: 40%;
}
.telefoneContainer span {
  position: absolute;
  top: 48%;
  right: 27%;
  color: black;
}

@media (min-width: 1366px) {
  .telefone {
    top: 52vh;
  }
  .telefoneContainer span {
    top: 60vh;
  }
}
