.telefone {
  position: absolute;
  right: 8%;
  top: 40%;
}
.telefoneContainer span {
  position: absolute;
  top: 48%;
  right: 10%;
  width: 100%;
  max-width: 310px;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  font-size: 15px;
  color: black;
}

@media (min-width: 1366px) {
  .telefone {
    top: 52vh;
  }
  .telefoneContainer span {
    top: 58vh;
  }
}
