@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

.telaGame {
  position: absolute;
  top: 0;
  right: 33%;
  font-family: "VT323", monospace;
}

.dados {
  position: absolute;
  right: 39%;
  top: 20%;
  font-family: "VT323", monospace;
}

.aceitar {
  background: transparent;
  border: none;
  position: absolute;
  bottom: 52%;
  right: 58%;
  cursor: pointer;
}
.negociar {
  background: transparent;
  border: none;
  position: absolute;
  bottom: 52%;
  right: 41.5%;
  cursor: pointer;
}

.dadosCliente {
  position: absolute;
  bottom: 25%;
  left: 2%;
  font-size: 20px;
  font-family: "VT323", monospace;
  font-size: 22px;
  color: rgb(47, 207, 47);
}
.dadosCarteira {
  position: absolute;
  bottom: 25%;
  left: 55%;
  font-size: 22px;
  font-family: "VT323", monospace;
  color: rgb(47, 207, 47);
}

.span1 {
  position: absolute;
  top: 15.5%;
  right: 58%;
  font-size: 24px;
  color: rgb(47, 207, 47);
  font-family: "VT323", monospace;
}
.span2 {
  position: absolute;
  top: 15.5%;
  right: 35%;
  font-size: 24px;
  width: 100%;
  max-width: 260px;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  color: rgb(47, 207, 47);
  font-family: "VT323", monospace;
}

@media (min-width: 1366px) {
  .telaGame {
    top: 15vh;
  }
  .dados {
    top: 33vh;
  }
  .aceitar {
    top: 49.8vh;
  }
  .negociar {
    top: 49.8vh;
  }
  .span1 {
    top: 28vh;
  }
  .span2 {
    top: 28vh;
  }
}
